@use "../../styles/variables";

.table-container {
  width: 100%;
  padding: 0.2rem 0 1rem 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // table header start------------
  .table-header {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    gap: 2rem;

    input,
    input::placeholder,
    button {
      width: 100%;
      padding: 1rem 2rem;
      border-radius: 12px;
      border: none;
      text-align: center;
      font-size: 1.3rem;
      font-weight: 500;
      background-color: variables.$accent-dark;
      color: variables.$text-color;
    }

    .search-bar {
      flex-basis: 70%;
    }

    .add-new-btn {
      flex-basis: 30%;
    }
  }
  // table header ends---------------

  table {
    width: 100%;
    text-align: center;

    tr > th {
      border-bottom: 5px solid variables.$accent-dark;

      span {
        background-color: variables.$accent-dark;
        font-size: 1rem;
      }

      button {
        margin-left: 6px;
      }
      span {
        margin-left: 6px;
        font-size: 1.1rem;
      }
    }

    tr > td {
      text-transform: capitalize;
    }

    tbody > tr:nth-child(2n) {
      background-color: variables.$accent-light;
    }
  }
}
