.filters {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .filters-button-container {
    width: 100%;
    display: flex;
    gap: 1rem;
  }

  button {
    flex-basis: 50%;
    padding: 0.8rem;
  }
}

.filter-option-container > label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/*----------------------------- 
-------Filter By Category---------
------------------------------*/

.filter-select {
  background-color: #ffa384;
  border-radius: 10px;
  border: none;
  padding: 0.8rem;

  &:focus,
  &:active {
    outline: none;
  }

  option {
    font-size: 1.2rem;
  }
}

/*----------------------------- 
-------Filter By Color---------
------------------------------*/
.color-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  div {
    width: 40px;
    height: 40px;
    border: 1px solid;
  }

  div[value="black"] {
    background-color: black;
    border: none;
  }

  div[value="white"] {
    background-color: white;
  }
  div[value="blue"] {
    background-color: blue;
    border: none;
  }
  div[value="red"] {
    background-color: red;
    border: none;
  }
  div[value="yellow"] {
    background-color: yellow;
  }
}

/*----------------------------- 
-------Filter By Price---------
------------------------------*/
.price-input {
  display: flex;
  gap: 0.3em;

  input {
    width: 50%;
    background-color: #ffa384;
    border-radius: 10px;
    border: none;
    color: #543855;
    padding: 0.2rem 0.8rem;
  }
}

/*----------------------------- 
-------Filter By Rating---------
------------------------------*/
.rating-filter {
  display: flex;
  align-items: center;
  gap: 0.3em;

  label {
    display: flex;
    align-items: center;
  }
}

/*----------------------------- 
-------Selected Filter---------
------------------------------*/
.selected-filter-options-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.selected-filter-options {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 10px;
  background-color: #ccc;
  border-radius: 1rem;
  font-size: 0.8rem;
  margin-top: 1rem;

  label {
    display: flex;
    align-items: center;
  }
  button {
    padding: 0.5rem;
  }
}
