body{
    margin: 0;
    padding: 0;
}

.app{
    width: 100%;
    display: flex;
}

.filter-container{
    flex-basis: 20%;
    height: 100vh;
    border-right: 2px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.table-container{
    flex-basis: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
